* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.gallery-body {
  width: 100%;
  background-color: black;
  padding: 100px 0px 0px;
}

.wallpaper{
  width: 90%;
  aspect-ratio: 1/1;
  background-color: #fff;
}
.text{
  text-align: center;
  color: #fff;
}