* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
}
.gallery-body {
  width: 100%;
  min-height: 100vh;
  background-color: #7A4B98;
  padding: 100px 0px;
}
.content{
  background-color: #7A4B98;
  border: 1px solid;
  margin-bottom: 10px;
}

.wallpaper{
  aspect-ratio: 1/1;
  background-color: #fff;
  margin: 10px;
}
.text{
  text-align: center;
  color: #fff;
}
.text h1{
  margin: 0;
  padding: 0;
}