* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
}
header {
  width: 100%;
  left: 0%;
  z-index: 1;
  position: fixed;
  padding: 10px 0px;
}
.header-background {
  background-color: #413d3d7a;
}
.main-logo {
}
.menu-bar {
}
.menu-item {
}
.menu-bar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.menu-bar ul li {
  padding: 0px 20px;
}
.menu-bar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  display: block;
  position: relative;
  text-shadow: 0px 0px 1px rgb(109, 3, 3), 0px 0px 10px black;
}
.menu-bar ul li a::after {
  content: "";
  display: block;
  width: 0%;
  height: 5px;
  background-color: hsl(0, 93%, 21%);
  position: absolute;
  top: 100%;
  left: 0%;
  transition: 0.3s;
}
.menu-bar ul li a:hover::after {
  width: 100%;
}
.mobile-menu {
  display: none;
}
.mobile-menu span {
  color: #fff;
}
/* mobile menu  */
.mobile-menu-slide {
  width: 170px;
  height: 100vh;
  /* background-image: linear-gradient(rgb(72, 206, 83), rgb(159, 230, 102), rgb(221, 92, 92), rgb(238, 134, 134), rgb(52, 180, 148)); */
  background-color: rgb(48, 47, 47);
  position: fixed;
  top: 0%;
  right: 0%;
  z-index: 2;
  display: none;
  box-shadow: 0px 0px 10px rgb(245, 155, 155);
}
.mobile-menu-slide span {
  color: black;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 16px;
}
.heading-menu {
  padding: 20px 10px;
  text-align: center;
  color: #fff;
}
.mobile-menu-bar {
  padding: 10px;
}
.mobile-menu-bar ul {
  padding: 0;
  list-style: none;
}
.mobile-menu-bar ul li {
}
.mobile-menu-bar ul li a {
  padding: 5px 0px;
  display: block;
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-transform: capitalize;
}
.mobile-menu-bar ul li a:hover {
  border: 1px solid #fff;
  appearance: none;
  /* background-image: linear-gradient(rgb(72, 206, 83), rgb(238, 134, 134), rgb(52, 180, 148)); */
  background-color: #fff;
}
/* social area start */
.socail-area {
  position: fixed;
  z-index: 3;
  right: 20px;
  bottom: 10px;
}
.socail-area ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}
.socail-area ul li {
  margin-left: 20px;
}
.socail-area ul li a {
  font-size: 20px;
}
.socail-area ul li:nth-child(1):hover a {
  color: #0571e6;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
}
.socail-area ul li:nth-child(2):hover a {
  color: #fff;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
}
.socail-area ul li:nth-child(3):hover a {
  color: #fff;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
}
.socail-area ul li:nth-child(4):hover a {
  color: #ff0000;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
}
.social-icon-color-1 {
  color: rgb(255, 255, 255);
}
.social-icon-color-2 {
  color: black;
}
