* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  width: 100%;
  left: 0%;
  z-index: 1;
  position: fixed;
  padding: 10px 0px;
}
.header-background {
  background-color: #413d3d7a;
}
.main-logo {
}
.menu-bar {
}
.menu-item {
}
.menu-bar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.menu-bar ul li {
  padding: 0px 20px;
}

.menu-bar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  display: block;
}

.mobile-menu {
  display: none;
}
.mobile-menu span {
  color: #fff;
}

/* mobile menu  */
.mobile-menu-slide {
  width: 200px;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  top: 0%;
  right: 0%;
  z-index: 2;
  display: none;
}
.mobile-menu-slide span {
  color: black;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 14px;
}
.heading-menu {
  padding: 20px 10px;
  text-align: center;
}
.mobile-menu-bar {
  padding: 10px;
}
.mobile-menu-bar ul {
  padding: 0;
  list-style: none;
}
.mobile-menu-bar ul li {
}
.mobile-menu-bar ul li a {
  padding: 5px 0px;
  display: block;
  text-decoration: none;
  color: black;
  text-transform: capitalize;
}

/* social area start */
.socail-area {
  position: fixed;
  z-index: 2;
  right: 10px;
  bottom: 10px;
}

.socail-area ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.socail-area ul li {
  margin-left: 20px;
}
.socail-area ul li a {
  color: #fff;
  font-size: 20px;
}
.socail-area ul li:nth-child(1):hover a {
  color: #0571e6;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}
.socail-area ul li:nth-child(2):hover a {
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}
.socail-area ul li:nth-child(3):hover a {
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}
.socail-area ul li:nth-child(4):hover a {
  color: #ff0000;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}
