img {
  max-width: 100%;
}
.nature-wallpaper {
  padding: 100px 0px;
  background-color: rgb(1, 37, 25);
}
.nature-section {
  margin-bottom: 5px;
}

.text {
  width: 60%;
}
.text h1 {
  color: aliceblue;
  text-transform: capitalize;
  margin-bottom: 5px;
}
.text p {
  color: aliceblue;
  text-transform: capitalize;
  font-size: 12px;
  line-height: 14px;
}

.bottom-section {
  width: 100%;
  height: 100px;
  background-color: rgb(82, 124, 95);
}
