@media (max-width: 557px) {
  header {
    display: flex;
    align-items: center;
  }
  .row {
    display: flex;
    justify-content: space-between !important;
    align-items: center;
  }
  div:nth-child(2) {
    display: none;
  }
  .logo {
    width: 200%;
  }
  .menu-bar {
    display: none;
  }
  .mobile-menu {
    display: block;
  }
}

@media (min-width: 557px) {
  header {
  }
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .col-9 {
    display: flex;
    justify-content: end;
  }
  .menu-bar {
    display: block;
  }
  .mobile-menu {
    display: none;
  }
}
