@media (max-width: 557px) {
  header {
    display: flex;
    align-items: center;
  }
  header .row {
    display: flex;
    justify-content: space-between !important;
    align-items: center;
  }
  header div:nth-child(2) {
    display: none;
  }
  header .logo {
    width: 300%;
    padding-left: 20px;
  }
  header .menu-bar {
    display: none;
  }
  header .mobile-menu {
    display: block;
    padding-right: 40px;
  }
}

@media (min-width: 557px) {
  header {
  }
  header .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .col-9 {
    display: flex;
    justify-content: end;
  }
  header .menu-bar {
    display: block;
  }
  header .mobile-menu {
    display: none;
  }
}
