@media (max-width: 557px) {
  .logo {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
  }
  .logo img {
    width: 100%;
  }
  .menu-bar {
    display: none;
  }
  .mobile-menu {
    display: block;
    position: absolute;
    top: 25px;
    right: 20px;
  }
}
