* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/* body */

.hero-area {
  position: relative;
  padding: 30vh 0px 10px 0px;
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)), url(images/home_page1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.hero-area h1 {
  font-size: max(4vw, 40px);
  color: #fff;
  text-transform: capitalize;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 1), 5px 5px 10px rgba(255, 255, 255, 0.3);
}
.hero-area h2 {
  font-size: max(3vw, 40px);
  color: #fff;
  text-transform: capitalize;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 1), 5px 5px 10px rgba(255, 255, 255, 0.3);
}
.hero-area p {
  width: max(50%, 300px);
  color: #fff;
  font-size: max(1vw, 12px);
  margin-top: 20px;
}
